{% extends 'blog/base.html' %}

{% block content %}
    {% for publicacion in publicaciones %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title"><a href="{% url 'post_detail' pk=publicacion.pk %}">{{ publicacion.titulo }}</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ publicacion.published_date }}</h6>
            <p class="card-text">{{ publicacion.texto }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}